<div class="col">

</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <a class="btn btn-primary" routerLink="/imagen">
                        <i class="mdi mdi-account-plus"></i>
                        Crear Imagen
                    </a>
                </div>
                <div style="height: 10px;"></div>
                <input type="text" class="form-control" placeholder="Buscar imagen" (keyup)="buscar(txtBusqueda.value)"
                    #txtBusqueda>

                <div class="row">
                    <div class="col-1">
                        <input type="checkbox" id="md_checkbox_20" class="chk-col-black" checked="" (click)="parametroBusqueda('Activos')">
                        <label for="md_checkbox_20">Activos</label>
                    </div>
                    <div class="col-1">
                        <input type="checkbox" id="md_checkbox_21" class="chk-col-black" checked="" (click)="parametroBusqueda('Inactivos')">
                        <label for="md_checkbox_21">Inactivos</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>
</div>
<div class="row" *ngIf="!cargando">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Imágenes registradas</h4>
                <h6 class="card-subtitle">Lista de todos los imágenes existentes en el sistema</h6>
                <h6 class="card-subtitle">Total de imágenes: {{totalImagenes}} </h6>
                <div class="table-responsive">
                    <div *ngIf="txtBusqueda.value.length === 0">
                        <button (click)="paginar(-10)" class="btn btn-secondary">Anterior</button>
                        &nbsp;
                        <button (click)="paginar(10)" class="btn btn-secondary">Siguiente</button>

                    </div>
                    <div class="row" *ngIf="botonActualizar">
                        <div class="col-12"></div>
                        <div class="col-4">
                            <button type="button" class="btn btn-block btn-outline-success"
                                (click)="actualizar(true)">Activar imágenes seleccionadas</button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-block btn-outline-danger"
                                (click)="actualizar(false)">Desactivar imágenes seleccionadas</button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-block btn-outline-danger"
                                (click)="eliminarPermanente()">Eliminar imágenes</button>
                        </div>
                        <div class="col-12"></div>
                    </div>
                    <table class="table full-color-table full-inverse-table hover-table">
                        <thead>
                            <tr>
                                <th class="w102"></th>
                                <th class="w101">Imagen</th>
                                <th class="w103">Descripción</th>
                                <th class="w100">Organización</th>
                                <th class="w100">Ruta Única</th>
                                <th class="w100">Estado</th>
                                <th class="text-nowrap w100">Copiar</th>
                                <th class="text-nowrap w100">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let imagen of imagenes;let index=index">
                                <td class="w102">
                                    <div class="demo-checkbox" width="10px">
                                        <input type="checkbox" [id]="'checkbox'+index" class="filled-in"
                                            (click)="seleccionar(imagen)" />
                                        <label [for]="'checkbox'+index"></label>
                                    </div>
                                </td>
                                <td class="w101">
                                    <img [src]="imagen?.imagenReducida | imagen | async" class="img-fluid" width="150" height="150">
                                </td>
                                <td class="w103">{{imagen.descripcion}}</td>
                                <td class="w100">{{imagen.tipo}}</td>
                                <td class="w100">{{imagen.path}}</td>
                                <td class="w100">
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox" [checked]="imagen?.estado"
                                                (click)="actualizarEstado(imagen)"><span
                                                class="lever switch-col-cyan"></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="w100">
                                    <button *ngIf="imagen?.estado" (click)="crearLinkImagen(imagen)" class="btn btn-secondary">
                                        <i class="ti-files"></i> Copiar
                                    </button>
                                </td>
                                <td class="text-nowrap w100">
                                    <a (click)="editar(imagen)" data-toggle="tooltip" data-original-title="Editar"> <i
                                            class="ti-pencil"></i> </a>
                                    <a data-toggle="tooltip" data-original-title="Borrar"
                                        (click)="borrarImagen(imagen)">
                                        <i class=" ti-trash"></i>
                                    </a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <div *ngIf="txtBusqueda.value.length === 0">
                        <button (click)="paginar(-10)" class="btn btn-secondary">Anterior</button>
                        &nbsp;
                        <button (click)="paginar(10)" class="btn btn-secondary">Siguiente</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="fondo-modal-imagen animated fadeIn fast" [class.oculto]="mostraModal">
    <div id="responsive-modal" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        style="display: block;padding-right: 17px; overflow-y: initial;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Datos</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        (click)="cerrarModal()">×</button>
                </div>

                <div class="card-body">
                    <h4 class="card-title">Acciones</h4>
                    <h6 class="card-subtitle"></h6>
                    <div class="row button-group">
                        
                    </div>
                    <div class="row p-t-20">
                        <div class="col-md-12">
                            <!-- <ng-image-slider [images]="imageObject" #nav></ng-image-slider> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> 
