<div class="col">

</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <a class="btn btn-primary" routerLink="/funcionario/nuevo">
                        <i class="mdi mdi-account-plus"></i>
                        Crear funcionario
                    </a>
                </div>
                <div style="height: 10px;"></div>
                <input type="text" class="form-control" placeholder="Buscar funcionario" (keyup)="buscar(txtBusqueda.value)"
                    #txtBusqueda>

            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>
</div>
<div class="row" *ngIf="!cargando">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Funcionario registrados</h4>
                <h6 class="card-subtitle">Lista de todos los funcionarios existentes en el sistema</h6>
                <h6 class="card-subtitle">Total de imagenes: {{totalfuncionarios}}</h6>
                <div class="table-responsive">
                    <div *ngIf="txtBusqueda.value.length === 0">
                        <button (click)="paginar(-10)" class="btn btn-secondary">Anterior</button>
                        &nbsp;
                        <button (click)="paginar(10)" class="btn btn-secondary">Siguiente</button>
                    </div>
                    <table class="table full-color-table full-inverse-table hover-table">
                        <thead>
                            <tr>
                                <th class="w100">Imagen</th>
                                <th class="w100">Cargo</th>
                                <th class="w100">Nombres</th>
                                <th class="w100">Apellidos</th>
                                <th class="w100">Titulo</th>
                                <th class="w100">Descripcion</th>
                                <th class="text-nowrap w100">Fecha Nacimiento</th>
                                <th class="text-nowrap w100">Estado</th>
                                <th class="text-nowrap w100">Copiar</th>
                                <th class="text-nowrap w100">Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let funcionario of funcionarios">
                                <td>
                                    <img [src]="funcionario?.imagen | imagen | async" height="130px">
                                </td>
                                <td>{{funcionario.cargo}}</td>
                                <td>{{funcionario.nombres}}</td>
                                <td>{{funcionario.apellidos}}</td>
                                <td>{{funcionario.titulo}}</td>
                                <td>{{funcionario.descripcion}}</td>
                                <td>{{funcionario.fechaNacimiento | date:"yyyy-MM-dd"}}</td>
                                <td>
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox" [checked]="funcionario?.estado"
                                                (click)="actualizarEstado(funcionario)"><span
                                                class="lever switch-col-cyan"></span>
                                        </label>
                                    </div>
                                </td>

                                <td>
                                    <button (click)="crearLink(funcionario)" class="btn btn-secondary">
                                        <i class="ti-files"></i> Copiar
                                    </button>
                                </td>
                            
                                <td class="text-nowrap">
                                    <a [routerLink]="['/funcionario',funcionario._id]" data-toggle="tooltip"
                                        data-original-title="Editar"> <i class="ti-pencil"></i> </a>
                                    <a data-toggle="tooltip" data-original-title="Borrar"
                                        (click)="borrarfuncionario(funcionario)">
                                        <i class=" ti-trash"></i>
                                    </a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <div *ngIf="txtBusqueda.value.length === 0">
                        <button (click)="paginar(-10)" class="btn btn-secondary">Anterior</button>
                        &nbsp;
                        <button (click)="paginar(10)" class="btn btn-secondary">Siguiente</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
