<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">

                <li class="nav-devider"></li>
                <li class="nav-small-cap">IMAGENES</li>
                <li> <a class="has-arrow waves-effect waves-dark" routerLink="imagen" aria-expanded="false"><i
                            class="mdi mdi-file-image"></i><span class="hide-menu">Crear Imagen </span></a>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" routerLink="imagenes" aria-expanded="false"><i
                            class="mdi mdi-camera-burst"></i><span class="hide-menu">Listar Imagen </span></a>
                </li>
                <li class="nav-small-cap">FUNCIONARIOS</li>
                <li> <a class="has-arrow waves-effect waves-dark" routerLink="funcionario/nuevo" aria-expanded="false"><i
                            class="mdi mdi-account"></i><span class="hide-menu">Crear Funcionario </span></a>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" routerLink="funcionarios" aria-expanded="false"><i
                            class="mdi mdi-account-multiple"></i><span class="hide-menu">Listar Funcionarios </span></a>
                </li>
                <!-- <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard <span
                                class="label label-rouded label-themecolor pull-right">2</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="index.html">Minimal </a></li>
                        <li><a href="index2.html">Analytical</a></li>
                        <li><a href="index3.html">Demographical</a></li>
                        <li><a href="index4.html">Modern</a></li>
                    </ul>
                </li> -->

                <!-- <li class="nav-devider"></li>

                <li>
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="true">
                        <i class="mdi mdi-gauge"></i>
                        <span class="hide-menu">Imagenes <span
                                class="label label-rouded label-themecolor pull-right">2</span>
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a (click)="nuevaImagen()">Crear Imagen </a></li>
                        <li><a routerLink="imagenes">Lista de imagenes</a></li>
                    </ul>
                </li>

                <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i
                            class="mdi mdi-gauge"></i><span class="hide-menu">Funcionarios <span
                                class="label label-rouded label-themecolor pull-right">2</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="funcionario/nuevo">Crear funcionario </a></li>
                        <li><a routerLink="funcionarios">Lista de funcionarios</a></li>
                    </ul>
                </li>
 -->
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->