<div class="card">

    <form (ngSubmit)="crearCiudad()" autocomplete="off" [formGroup]="registerForm">

        <div class="card-body">
            <div class="form-group">
                <div class="demo-switch-title">Estado</div>
                <div class="switch">
                    <label>
                        <input type="checkbox" checked="" formControlName="estado"><span
                            class="lever switch-col-cyan"></span>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputuname">Organización *</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                    <input type="text" class="form-control" placeholder="Dependencia o sistema al que pertenece la imagen" formControlName="tipo">
                </div>
                <div class="text-danger">
                    <p *ngIf="campoNoValido('tipo')">La Organización es obligatoria</p>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputuname">Descripción *</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                    <input type="text" class="form-control" placeholder="Breve descripción " formControlName="descripcion">
                </div>
                <div class="text-danger">
                    <p *ngIf="campoNoValido('descripcion')">La descripción es obligatoria</p>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputuname">Path *</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                    <input type="text" class="form-control" placeholder="Identificador único para servir imagen" formControlName="path">
                </div>
                <div class="text-danger">
                    <p *ngIf="campoNoValido('path')">El path es obligatorio</p>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <ngx-dropzone (change)="onSelect($event)">
                            <ngx-dropzone-label>Arrastrar aquí o hacer click (IMAGEN TAMAÑO COMPLETO)</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <ngx-dropzone (change)="onSelectReducida($event)">
                            <ngx-dropzone-label>Arrastrar aquí o hacer click (IMAGEN PEQUEÑA)</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files2" [removable]="true" (removed)="onRemoveReducida(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                </div>
            </div>

            




            <div>
                <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10">Guardar</button>
                <a (click)="cancelarGuardado()" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
            </div>

        </div>
    </form>

</div>